<div class="mat-elevation-z8">
  <table mat-table class="full-width-table data-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- first name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let customers">{{customers.firstname}}</td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let customers">{{customers.lastname}}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let customers">{{customers.address}}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let customers">{{customers.city}}</td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let customers">{{customers.state}}</td>
    </ng-container>

    <!-- Order Total Column -->
    <ng-container matColumnDef="ordertotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Total</th>
      <td mat-cell *matCellDef="let customers">{{customers.ordertotal}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    <mat-paginator #paginator
      [length]="length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100]">
  </mat-paginator>
  {{customer}}
</div>
