<div class="mat-elevation-z8">
  <div class="filter-section">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <a mat-raised-button color="primary" (click)="onCreate()">
      <mat-icon>person_add</mat-icon>
      Add New Customer
    </a>
  </div>
  <table mat-table class="data-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let customers">
        <img matListAvata src="{{femaleCustomer}}" *ngIf="customers.gender === 'female'" />
        <img matListAvata src="{{maleCustomer}}" *ngIf="customers.gender === 'male'" />
      </td>
    </ng-container>

    <!-- first name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let customers">{{customers.firstname}}</td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let customers">{{customers.lastname}}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let customers">{{customers.address}}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let customers">{{customers.city}}</td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let customers">{{customers.state}}</td>
    </ng-container>

    <!-- Order Total Column -->
    <ng-container matColumnDef="ordertotal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Total</th>
      <td mat-cell *matCellDef="let customers">{{customers.ordertotal}}</td>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="onEdit(row)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="ondelete(row)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator class="paginator-section" [length]="length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50, 100]">
  </mat-paginator>
</div>